body{
  margin: 0px;
  background:#d1d1d1;
}

.menu-main{
  display: flex;
  justify-content: space-between;
  background: #3b5998;
  border-bottom:1px solid #29487d;
  /* border-bottom: 2px solid black; */
  height: 45px;
}

.menu-main a{
  flex:1;
  font-family: arial;
  display: flex;
  color: #fff;
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
  justify-content: center;
  align-items: center;
}

.menu-main a:hover{
  background: rgb(0,0,0, .1);
}

.menu-main a.active{
  background-color: green;
}

@media (max-width: 768px){
  .menu-main{
    height: auto;
    border-bottom: 0px;
    display: block;
  }
  .menu-main a{
    height: 45px;
    border-bottom: 1px solid #29487d;
  }
}